apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  serviceName: esphome
  replicas: 1
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      volumes:
        - name: config
          nfs:
            path: "/mnt/NAS-T/k8s-volumes/persistent/esphome/config"
            server: 10.10.20.10
      hostNetwork: true
      containers:
        - name: esphome
          image: ghcr.io/esphome/esphome:2025.12.3@sha256:1edb11006e70dac129f58e2a641a90478bf34662f1bd84243a92b87a0b46cd26
          resources:
            requests:
              memory: "56Mi"
              cpu: "100m"
            limits:
              memory: "8Gi"
              cpu: "4"
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: "Europe/Madrid"
          ports:
            - containerPort: 6052
          volumeMounts:
            - name: config
              mountPath: /config
