apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-ingress
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: external-ingress-nginx
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: ingress-nginx
    helm:
      parameters:
        - name: controller.ingressClassResource.controllerValue
          value: "k8s.io/external-nginx"
        - name: controller.ingressClassResource.name
          value: "external-nginx"
        - name: controller.replicaCount
          value: "3"
        - name: controller.ingressClassResource.default
          value: "true"
        - name: controller.ingressClassByName
          value: "true"
        - name: controller.config.hsts-max-age
          value: "31536000"
        - name: controller.config.hsts-preload
          value: "true"
        - name: controller.config.allow-snippet-annotations
          value: "true"
        - name: controller.config.enable-real-ip
          value: "true"
        - name: controller.service.loadBalancerIP
          value: "10.10.20.56"
        - name: controller.service.externalTrafficPolicy
          value: "Local"
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.1
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
