apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: internal-ingress
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-80"
spec:
  destination:
    namespace: internal-ingress-nginx
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: ingress-nginx
    helm:
      parameters:
        - name: controller.ingressClassResource.controllerValue
          value: "k8s.io/internal-nginx"
        - name: controller.ingressClassResource.name
          value: "internal-nginx"
        - name: controller.replicaCount
          value: "3"
        - name: controller.ingressClassByName
          value: "true"
        - name: controller.service.loadBalancerIP
          value: "10.10.20.100"
        - name: tcp.22
          value: gitlab/gitlab-gitlab-shell:22
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
